[Unit]
Description=lame nodejs discord bot
Documentation=https://github.com/yutsuku/wow-profession-links/
After=network.target

[Service]
Environment=NODE_ENV=live
Type=simple
User=root
ExecStart=/usr/bin/node /your-path/wow-profession-links/src/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
